<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #000000;">
  <a class="navbar-brand" href="#">SERVICIO EMPLEADOS </a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active d-flex">
        <a class="nav-link" routerLink="/EmployeeGeneral">| Empleados |</a>

      </li>
    </ul>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
